In [1]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
for j in range(10,20):
    print(j, end=" ")

10 11 12 13 14 15 16 17 18 19

In [23]:
list2=[10, 20, 14, 55, 43, 87, 76]
print(list2)
print(f"Number of item in the List2:\n{len(list2)}")

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [28]:
test="Artificial Intelligence"
print(test)
for k in test:
    print(k)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [30]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [31]:
tup=(1, 'welcome', 2, 'Hope')
print(tup)

(1, 'welcome', 2, 'Hope')

In [32]:
Tuple1=(0, 1, 2, 3)
Tuple2=('python', 'Hope')
tup3=(Tuple1, Tuple2)
print(tup3)

((0, 1, 2, 3), ('python', 'Hope'))

In [36]:
list=[20,10,16,19,25,1,276,188]
print(tuple(list))
for result in list:
    if(result%2==1):
        print(f"{result} is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [37]:
list=[20,10,16,19,25,1,276,188]
print(tuple(list))
for result in list:
    if(result%2==0):
        print(f"{result} is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even